/Assignments/Assignment 2/nbproject/private/
/Assignments/Assignment 2/build/
/Assignments/Assignment 3/nbproject/private/
/Assignments/Assignment 3/build/
/Assignments/Guijosa_David_PerfectNumbers/nbproject/private/
/Assignments/Guijosa_David_PerfectNumbers/build/
/Assignments/Guijosa-David-Assingment 5 Array Statistics/nbproject/private/
/Assignments/Guijosa-David-Assingment 5 Array Statistics/build/
/Assignments/Final Program/nbproject/private/
/Assignments/Final Program/build/