/* 
// Created on : Apr 29, 2020, 5:08:06 PM
// Author     : David Guijosa
*/

body {
    background-color: #D4D7DD;
    margin-left: 20%;
    margin-right: 20%;
    
}
header {
    height: 175px;
    background-image: url(image/bg-banner.jpg);
    background-repeat: none;
    background-size: cover;
}

h1{
    color: #F8070B;
    font-size: 50px;
    text-shadow: 2px 3px 2px white;
    padding-top: 80px;
    text-indent: 20px;
    margin-top: 1px;
        
}

nav{
    width: 200px;
    float: left;
    margin-top: 50px;
    
}

#main{
    padding-left: 200px;
    
}

a{
    width: 200px;
    height:60px;
    background: url(image/bg-links.gif) no-repeat center;
    float: left;
    background-size: 150px 45px;
    text-align: center;
    line-height: 60px;
    text-decoration: none;
    color: blue;
    
}

nav a:hover{
    color: red;
}

ul{
    list-style-image: url(image/skateboard-bullet.gif);
    margin-left: 35px;
    
}
.productpic{
    float: right;
   
}

footer{
    text-align: center;
    color: gray;
    margin-top: 35px;
    
}