<IfModule mod_rewrite.c>
	Options +FollowSymlinks
	Options -Indexes

	RewriteEngine on
	#RewriteBase /code-e/

	# Prevent them from viewing hidden files/dirs.
	RewriteRule "(^|/)\." - [F]

#	RewriteCond %{REQUEST_FILENAME} !-d
#	RewriteCond %{REQUEST_FILENAME} !-f
#	RewriteCond %{HTTPS} !=on
#	RewriteRule ^/?(tests|courses)/(.*) index.php?url=$1/invoke/$2 [L,QSA]


#	RewriteCond %{REQUEST_FILENAME} !-d
#	RewriteCond %{REQUEST_FILENAME} !-f
#	RewriteCond %{HTTPS} !=on
#	RewriteRule ^/?(questions|files|tasks|pages|users|api|logs|update|mail|feedback|assignments|discussions|notifications)/(.*) index.php?url=$1/$2 [L,QSA]

    RewriteCond %{REQUEST_FILENAME} !-d
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{HTTPS} !=on
	RewriteRule ^/?(pages|users|create|files|reports|logs|update|notifications)/(.*) index.php?url=$1/$2 [L,QSA]

	RewriteRule ^$ index.php?url=pages/display/home [L,QSA]

	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteRule (.*) index.php?url=pages/display/$1 [L,QSA]
</IfModule>
